.login-box Label{
    -fx-font-size: 16px;
    -fx-padding: 0 10 0 0;
    -fx-min-width: 100px;
}

.text-area{
    -fx-min-width: 200px;
    -fx-min-height: 22px;
    -fx-font-size: 16px;
}

.login-box{
 -fx-padding: 0 0 10 0;
 -fx-label-padding: 12 0 10 0;
}

Button{
    -fx-background-color: #53b083 /*teal*/;
    -fx-min-height: 50px;
    -fx-pref-width: 330px;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-font-size: 25px;
}

Button:hover{
    -fx-background-color: #3d8558 /*darkcyan*/;
}

.buttons{
    -fx-padding: 30 0 0 0;
    -fx-spacing: 15px;
}
